h1 {
    font-family: Verdana;
    color: #b2b0b0
}
p {
    font-family: Verdana;
}
.col-md-12 {
     background-color: #666666;
}
body {
    background-color: #666666;
}
h2 {
    color: #b2b0b0
}
h3 {
    color: #b2b0b0
}